@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@500&display=swap");
:root {
  --orange: #368dee;
  --black: #000000;
  --white: #ffffff;
  --dark-blue: #00334c;
  --gray: #808080;
}
.content-nav {
  max-width: 1250px;
  margin: auto;
  padding: 30px 0;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  padding: 0 0;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.navbar.sticky {
  background: var(--white);
  padding: 0 0;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.navbar .content-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  position: relative;
  color: var(--orange);
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: var(--black);
  font-size: 18px;
  margin-left: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: var(--orange);
}
.icon {
  color: var(--orange);
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  color: var(--orange);
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1200px) {
  .content-nav {
    padding: 0 60px;
  }
}
@media (max-width: 991px) {
  .content-nav {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: var(--white);
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    color: var(--black);
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
